<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
	<head th:fragment="head">
	<meta charset="UTF-8" />
	<title>Bitcoin Portfolio</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/portfolio.css}">
	<script src="@{/webjars/bootstrap/js/bootstrap.min.js}" ></script>
	<script src="@{/webjars/jquery/jquery.min.js}" ></script>
</html>